!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
%meta{'http-equiv' => 'Content-Type', 'content' => "text/html;charset=UTF-8"}
  %head
    %title Montreal.rb
    %link(href="stylesheets/application.css" media="all" rel="stylesheet" type="text/css")

    %script{:type => "text/javascript"}
      (function() {
        var proto="http:", host="cdn.adgear.com", bucket="a";
        if (window.location.protocol==="https:") {
          proto = "https:";
          host = "a.adgear.com";
          bucket = "";
        }
        document.writeln('<scr' + 'ipt type="text/ja' + 'vascr' + 'ipt" s' + 'rc="' +
            proto + '//' + host + '/' + bucket + '/adgear.js/current/adgear.js' +
            '"></scr' + 'ipt>');
      })();
    %script{:type => "text/javascript"}
      ADGEAR.tags.script.init();
      ADGEAR.lang.namespace("ADGEAR.site_callbacks");
      ADGEAR.site_callbacks.variables = function() { return {}; }

  %body
    %img#logo(src="logo.png")
    #header
      %h1 Montreal.rb
      %p Montreal's Ruby Community

    %span.adgear
      %script{:type => "text/javascript"}
        ADGEAR.tags.script.embed({ "id": "12042", "chip_key": "fa130230df21012d2fb70024e87a30c2" });

    #page
      %ul#members
        - MEMBERS.sort.each do |name, info|
          = haml :member, :locals => {:member => info.merge('name' => name)}

    #footer
      %a(href="http://twitter.com/cmercier/montreal-rb") Follow these people on Twitter
      %br
      This site is brought to you by the fine
      %a(href="http://montrealonrails.com") Montreal.rb
      folks.
