<html>

  <head>
    <title>Montreal.rb</title>
    <link href="stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Montreal.rb</h1>

    <h3>L33t H4x0rz</h3>
    <ul id="members">
      <li class="member">
        <div class="details">
          <div class="name">Aanand Prasad</div>
          <div class="site"><a href="http://www.aanandprasad.com">http://aanandprasad.com</a></div>
        </div>
        <ul class="projects">
          ( <li><a href="http://github.com/aanand/deadweight">deadweight</a></li> )
          ( <li><a href="http://github.com/aanand/feepogram">feepogram</a></li> )
          ( <li><a href="http://github.com/aanand/1901">1901</a></li> )
          ( <li><a href="http://github.com/aanand/do_notation">do_notation</a></li> )
          ( <li><a href="http://github.com/aanand/cmon">cmon</a></li> )
        </ul>
      </li>
<!--
      <li class="member">
        <div class="details">
          <div class="name">Alexis Sellier</div>
          <div class="site"><a href="http://cloudhead.net/">http://cloudhead.net/</a></div>
        </div>
        <ul class="projects">
          ( <li><a href="http://github.com/cloudhead/less">less</a></li> )
          ( <li><a href="http://github.com/cloudhead/more">more</a></li> )
          ( <li><a href="http://github.com/cloudhead/extender">extender</a></li> )
          ( <li><a href="http://github.com/cloudhead/journey">journey</a></li> )
        </ul>
      </li>
-->
      <li class="member">
        <div class="details">
          <div class="name">Daniel Haran</div>
          <div class="site"><a href="http://danielharan.com">http://danielharan.com</a></div>
        </div>
        <ul class="projects">
          ( <li><a href="http://github.com/danielharan/semantic-menu">semantic-menu</a></li> )
          ( <li><a href="http://github.com/danielharan/hintly_client">hintly_client</a></li> )
          ( <li><a href="http://github.com/danielharan/biximo">biximo</a></li> )
          ( <li><a href="http://github.com/danielharan/hansard_scraper">hansard_scraper</a></li> )
        </ul>
      </li>
<!--
      <li class="member">
        <div class="details">
          <div class="name">Fran&ccedil;ois Beausoleil</div>
          <div class="site"><a href="http://blog.teksol.info/">http://blog.teksol.info/</a></div>
        </div>
        <ul class="projects">
          ( <li><a href="http://github.com/francois/piston">piston</a></li> )
          ( <li><a href="http://github.com/francois/cliaws">cliaws</a></li> )
          ( <li><a href="http://github.com/francois/gip">gip</a></li> )
          ( <li><a href="http://github.com/francois/clitt">clitt</a></li> )
        </ul>
      </li>
-->
      <li class="member">
        <div class="details">
          <div class="name">James Golick</div>
          <div class="site"><a href="http://jamesgolick.com/">http://jamesgolick.com/</a></div>
        </div>
        <ul class="projects">
          ( <li><a href="http://github.com/giraffesoft/resource_controller">resource_controller</a></li> )
          ( <li><a href="http://github.com/giraffesoft/is_taggable">is_taggable</a></li> )
          ( <li><a href="http://github.com/giraffesoft/observational">observational</a></li> )
          ( <li><a href="http://github.com/giraffesoft/enum_field">enum_field</a></li> )
          ( <li><a href="http://github.com/giraffesoft/timeline_fu">timeline_fu</a></li> )
        </ul>
      </li>
<!--
      <li class="member">
        <div class="details">
          <div class="name">Jonathan Palardy</div>
          <div class="site"><a href="http://technotales.wordpress.com">http://technotales.wordpress.com</a></div>
        </div>
        <ul class="projects">
          ( <li><a href="http://github.com/jpalardy/etc_config">etc_config</a></li> )
          ( <li><a href="http://github.com/jpalardy/booklife">booklife</a></li> )
          ( <li><a href="http://github.com/jpalardy/forgetful">forgetful</a></li> )
        </ul>
      </li>

      <li class="member">
        <div class="details">
          <div class="name">Marc-Andr&eacute; Cournoyer</div>
          <div class="site"><a href="http://macournoyer.com">http://macournoyer.com</a></div>
        </div>
        <ul class="projects">
          ( <li><a href="http://createyourproglang.com/">Create Your Programing Language</a></li> )
          ( <li><a href="http://github.com/macournoyer/thin">thin</a></li> )
          ( <li><a href="http://github.com/macournoyer/tinyrb">tinyrb</a></li> )
          ( <li><a href="http://github.com/macournoyer/min">min</a></li> )
          ( <li><a href="http://github.com/macournoyer/invisible">invisible</a></li> )
          ( <li><a href="http://github.com/macournoyer/pusher">pusher</a></li> )
          ( <li><a href="http://github.com/macournoyer/rack-sandbox">rack-sandbox</a></li> )
          ( <li><a href="http://github.com/macournoyer/rbv8x">rbv8</a></li> )
        </ul>
      </li>
-->
      <li class="member">
        <div class="details">
          <div class="name">Martin Aumont</div>
          <div class="site"><a href="http://mynyml.com">http://mynyml.com</a></div>
        </div>
        <ul class="projects">
          ( <li><a href="http://github.com/mynyml/watchr">watchr</a></li> )
          ( <li><a href="http://github.com/mynyml/every">every</a></li> )
          ( <li><a href="http://github.com/mynyml/phocus">phocus</a></li> )
          ( <li><a href="http://github.com/mynyml/rack-accept-media-types">rack-accept-media-types</a></li> )
          ( <li><a href="http://github.com/mynyml/rack-respond_to">rack-respond_to</a></li> )
        </ul>
      </li>
<!--
      <li class="member">
        <div class="details">
          <div class="name">Martin Carel</div>
          <div class="site"><a href="http://dev-logger.blogspot.com">http://dev-logger.blogspot.com</a></div>
        </div>
        <ul class="projects">
          ( <li><a href="http://github.com/cawel/vinifera">vinifera</a></li> )
        </ul>
      </li>

      <li class="member">
        <div class="details">
          <div class="name">Sean Braithwaite</div>
          <div class="site"><a href="http://d474.net">http://d474.net</a></div>
        </div>
        <ul class="projects">
          ( <li><a href="http://github.com/brapse/ghosts">ghosts</a></li> )
        </ul>
      </li>

      <li class="member">
        <div class="details">
          <div class="name">Vinh Tran</div>
          <div class="site"></div>
        </div>
        <ul class="projects">
          ( <li><a href="http://github.com/zelnox/place-name-service">place-name-service</a></li> )
        </ul>
      </li>
-->
    </ul>
  </body>
</html>
